<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Simulator</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <h1>Pokemon Simulator says...</h1>
    {% if user.is_authenticated %}
    hello {{ user.username }}!<br/>
    <a href="/pokemon/search/">Search</a><br/>
    <a href="/pokemon/team/">Your Team</a><br/>
    <a href="/pokemon/logout/">Logout</a><br/>
    {% else %}
    hello world!<br/>
    <a href="/pokemon/register/">Sign Up</a><br/>
    <a href="/pokemon/login/">Sign In</a><br/>
    {% endif %}

</body>
</html>
