<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <h1> Register with Pokemon Simulator</h1>
    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/pokemon/">Return to the homepage.</a><br/>
    {% else %}
    <strong>Please fill the required fields for registration!</strong>
    <form id="user_form" method="post" action="/pokemon/register/" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register"/>
    </form>
    {% endif %}
</body>
</html>
