<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Search</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
    <h1>Find the best pokemon for you!</h1>
    <strong>Search the pokemon according to the attributes you enter!</strong>
    <form id="search_form" method="post" action="/pokemon/search/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ search_form.as_p }}
        <input type="submit" value="submit" />
    </form>
    <a href="/pokemon/">Back to HomePage</a><br/>
</body>
</html>
