<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Simulator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class='container'>
		{% if user.is_authenticated %}
		<h1 class='page-header'>Welcome back player!</h1>
		Hello {{ user.username }}! Please use the links below to navigate.<br/>
    <br/>
    <br/>
		<a href="/pokemon/search/">Search</a><br/>
		<a href="/pokemon/team/">Your Team</a><br/>
		<a href="/pokemon/logout/">Logout</a><br/>
		<!--<a href="/pokemon/locate/">Logout</a><br/>-->

		{% else %}
		<h1 class='page-header'>Welcome to the training ground player!</h1>
		<p>Please sign up below if you are not already registered, otherwise sign in and enjoy the games!</p>
		<br/>
		<br/>
		<a href="/pokemon/register/">Sign Up</a><br/>
		<a href="/pokemon/login/">Sign In</a><br/>
		{% endif %}
	</div>
</body>
</html>
