<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeFinder Results</title>
    <script src="/node_modules/chart.js/dist/Chart.bundle.js"></script>
	<script src="/node_modules/chart.js/samples/utils.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class='container'>
    <h1 class='page-header'>Search Results</h1>
    <a href="/pokemon/search/">Search Again</a>
    <a href="/pokemon/">Back to Homepage</a><br/>



    <div id="canvas-holder" style="width: 45%; position: absolute; right: 0px;">
        <canvas id="chart-area" width="400" height="400"></canvas>
    </div>

    {% if queried_locations %}
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Route</th>
            <th>Rarity</th>
        </tr>
        {% for loc in pokemon_list %}
            <tr>
                <td rowspan="1" style="padding: 10px">
                    <img src="{{loc.image}}" alt="Picture of Rango" />
                </td>

                <td rowspan="1" style="padding: 10px">{{loc.name}}</td>
                <td rowspan="1" style="padding: 10px">{{loc.route}}</td>
                <td rowspan="1" style="padding: 10px">{{loc.rarity}}</td>

            </tr>


        {% endfor %}
    </table>
    {% endif %}


  </div>
</body>
</html>
