<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Search Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    </style>
</head>
<body>
  <div class='container'>

        <h1 class='page-header'>Search Results</h1>
        <a href="/pokemon/search/">Search Again</a>
        <a href="/">Back to Homepage</a><br/>
        {% if queried_pokemons %}
            <table>
                <tr>
                    <th>Image</th>
                    <th>Pokedex</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>HP</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Speed</th>
                    <th>Special_attack</th>
                    <th>Special_defense</th>
                <tr/>
                {% for pokemon in queried_pokemons %}
                    <tr>
                        <td rowspan="2">{% with image_path=pokemon.pokemon_pic %}
                                <img src="{% static image_path %}" alt="Picture of Rango" />
                            {% endwith %}
                        </td>
                        <td rowspan="2">{{pokemon.pokedex_number}}</td>
                        <td rowspan="2">{{pokemon.pokemon_name}}</td>
                        <td>{{pokemon.type_1}}</td>
                        <td rowspan="2">{{pokemon.base_hp}}</td>
                        <td rowspan="2">{{pokemon.base_attack}}</td>
                        <td rowspan="2">{{pokemon.base_defense}}</td>
                        <td rowspan="2">{{pokemon.base_speed}}</td>
                        <td rowspan="2">{{pokemon.base_special_attack}}</td>
                        <td rowspan="2">{{pokemon.base_special_defense}}</td>
                    </tr>
                    <tr>
                        <td>{{pokemon.type_2}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            There is no match!
        {% endif %}




  </div>
</body>
</html>
