<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class='container'>
    <h1 class='page-header'>Find the best pokemon for you!</h1>
    <strong>Search the pokemon according to the attributes you enter!</strong>
    </br>
    </br>
    <form id="search_form" method="post" action="/pokemon/search/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ search_form.as_p }}
        <input type="submit" value="Submit" />         {{ find_err }}
    </form>

    <h2>
        Where's that Pokemon?
    </h2>
    <form id="search_location" method="post" action="/pokemon/search/location/">
        {% csrf_token %}
            <select name="route_id">
                <option value="1">Route 1 </option>
                <option value="2">Route 2 </option>
                <option value="3">Route 3 </option>
                <option value="4">Route 4 </option>
                <option value="5">Route 5 </option>
                <option value="6">Route 6 </option>
                <option value="7">Route 7 </option>
                <option value="8">Route 8 </option>
                <option value="9">Route 9 </option>
                <option value="10">Route 10 </option>
                <option value="11">Route 11 </option>
                <option value="12">Route 12 </option>
                <option value="13">Route 13 </option>
                <option value="14">Route 14 </option>
                <option value="15">Route 15 </option>
                <option value="16">Route 16 </option>
                <option value="17">Route 17 </option>
                <option value="18">Route 18 </option>
                <option value="19">Route 19 </option>
                <option value="20">Route 20 </option>
                <option value="21">Route 21 </option>
                <option value="22">Route 22 </option>
                <option value="23">Route 23 </option>
                <option value="24">Route 24 </option>
                <option value="25">Route 25 </option>
            </select>
            Type:
                <select name="type">
                    <option value="normal">Normal</option>
                    <option value="fighting">Fighting</option>
                    <option value="flying">Flying</option>
                    <option value="poison">Poison</option>
                    <option value="ground">Ground</option>
                    <option value="rock">Rock</option>
                    <option value="bug">Bug</option>
                    <option value="ghost">Ghost</option>
                    <option value="steel">Steel</option>
                    <option value="fire">Fire</option>
                    <option value="water">Water</option>
                    <option value="grass">Grass</option>
                    <option value="electric">Electric</option>
                    <option value="psychic">Psychic</option>
                    <option value="ice">Ice</option>
                    <option value="dragon">Dragon</option>
                    <option value="dark">Dark</option>
                    <option value="fairy">Fairy</option>
                </select>
            Pokemon Name: <input type="text" name="pokemon_name" value="" size="50" style="width: 100px;"/>
            <input type="submit" name="action" value="By Route" />
            <input type="submit" name="action" value="By Type"/>
            <input type="submit" name="action" value="By Name" /> {{ locate_err }}
    </form>


    <h3>
        Find the strongest Pokemon of a certain stat <small>(i.e. attack, defense)</small>
    </h3>

    <form id="search_stat" method="post" action="/pokemon/search/search_by_stat/">
        {% csrf_token %}
        <select name="type">
            <option value="all">All</option>
            <option value="normal">Normal</option>
            <option value="fighting">Fighting</option>
            <option value="flying">Flying</option>
            <option value="poison">Poison</option>
            <option value="ground">Ground</option>
            <option value="rock">Rock</option>
            <option value="bug">Bug</option>
            <option value="ghost">Ghost</option>
            <option value="steel">Steel</option>
            <option value="fire">Fire</option>
            <option value="water">Water</option>
            <option value="grass">Grass</option>
            <option value="electric">Electric</option>
            <option value="psychic">Psychic</option>
            <option value="ice">Ice</option>
            <option value="dragon">Dragon</option>
            <option value="dark">Dark</option>
            <option value="fairy">Fairy</option>
        </select>

        Pick a stat to sort by:
        <input type="submit" name="action" value="hp">
        <input type="submit" name="action" value="attack">
        <input type="submit" name="action" value="defense">
        <input type="submit" name="action" value="special_attack">
        <input type="submit" name="action" value="special_defense">
        <input type="submit" name="action" value="speed">
        <input type="submit" name="action" value="total_stat"> If you want a specific type


    </form>
    </br>
    </br>


    <a href="/pokemon/">Back to HomePage</a><br/>

	</div>
</body>
</html>
