<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
    </style>
</head>
<body>
	<div class='container'>
    <h1 class='page-header'>Manage your teams</h1>
    <small>Step 1</small>
    <strong>Create New Team</strong><br/>
    <form id="add_team_form" method="post" action="/pokemon/team/add/">
        {% csrf_token %}
            <input type="submit" value="Add" />
    </form>
    <small>Step 2</small>
    <strong>Add Pokemon</strong><br/>
    <form id="add_poke_form" method="post" action="/pokemon/team/addPokemon/">
        {% csrf_token %}
            <select name="team_id">
                {% if team_info %}
                    {% for t in team_info %}
                        {% for key, value in t.items %}
                            <option value="{{key}}">Team {{key}} </option>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </select>
            Pokemon Name: <input type="text" name="pokemon_name" value="" size="50" style="width: 100px;"/>
            Level: <input type="number" name="level" value="" size="50" placeholder="0 to 100" min="0" max="100"/>
            <input type="submit" value="Pick Best" formaction="/pokemon/team/pickBestNext/"/>
            <input type="submit" value="Add" />  {{ err }}

    </form>
   <h1>Your Pokemons:</h1>
    {% if your_pokemons %}
        <table>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>HP</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Speed</th>
                <th>Special_attack</th>
                <th>Special_defense</th>
                <th>Options</th>
            <tr/>
        {% for pokemon in your_pokemons %}
            <tr>
                <td>{{pokemon.base_stat.pokemon_name}}</td>
                <td>{{pokemon.level}}</td>
                <td>{{pokemon.hp}}</td>
                <td>{{pokemon.attack}}</td>
                <td>{{pokemon.defense}}</td>
                <td>{{pokemon.speed}}</td>
                <td>{{pokemon.special_attack}}</td>
                <td>{{pokemon.special_defense}}</td>
                <td>
                    <form id="update_poke_team" method="post" action="/pokemon/team/updatePokemon/">
                        {% csrf_token %}
                        <select name="team_id">
                            {% if team_info %}
                                {% for t in team_info %}
                                    {% for key, value in t.items %}
                                        <option value="{{key}}">Team {{key}} </option>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </select>

                        <input type="hidden" name="id" value="{{pokemon.id}}"/>
                        <input type="submit" name="action" value="Add"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        you don't have any pokemon
    {% endif %}
    <h1>Your teams:</h1>
    <table>
        <tr><th>Name</th>
            <th>Level</th>
            <th>Hp</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Speed</th>
            <th>Special_attack</th>
            <th>Special_defense</th>
            <th>Options</th>
        </tr>
    {% if team_info %}
        {% for t in team_info %}
            {% for key, value in t.items %}
                <tr>
                    <td colspan="9">Team {{key}}</td>
                </tr>
                {% for v in value %}
                    <tr>
                        <td>{{v.base_stat.pokemon_name}}</td>
                        <td>{{v.level}}</td>
                        <td>{{v.hp}}</td>
                        <td>{{v.attack}}</td>
                        <td>{{v.defense}}</td>
                        <td>{{v.speed}}</td>
                        <td>{{v.special_attack}}</td>
                        <td>{{v.special_defense}}</td>
                        <td>
                            <form id="update_poke" method="post" action="/pokemon/team/updatePokemon/">
                                {% csrf_token %}
                                level: <input type="number" name="level" value="" size="50" style="width: 40px;"/>
                                <input type="hidden" name="id" value="{{v.id}}"/>
                                <input type="hidden" name="team_id" value="{{key}}"/>
                                <input type="submit" name = "action" value="Update Level"/>
                                <input type="submit" name = "action" value="Remove"/>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table>
    </br>
    <strong>Delete Team</strong><br/>
    <form id="delete_team_form" method="post" action="/pokemon/team/delete/">
        {% csrf_token %}
            <select name="team_id">
                {% if team_info %}
                    {% for t in team_info %}
                        {% for key, value in t.items %}
                            <option value="{{key}}">Team {{key}} </option>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </select>
            <input type="submit" value="Delete" />
    </form>
    </br>
    </br>
    <a href="/pokemon/">Back to HomePage</a><br/>
	</div>
</body>
</html>
